<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css-form/estilos-formulario.css">
<title>Registrar</title>
</head>
<body>

<header>
   <div class="container">
  	<div class="col-sm-8">
       <h1>TRACKING</h1>  
    </div>
    <div class= >
      <nav class="posicion" >
          <a href="Login.html" class="botones" target="_blank">Login</a>
          <a href="Registrar.html" class="botones" target="_blank">Registrar</a>
          <a href="Listado.html" class="botones" target="_blank">Listado</a>
      </nav>
      </div>
    </div>
  </header>
  
  <div class="container">
  
  
  <h2>Registro de Datos</h2>
	<form>
	  <div class="contenedorDAT">
	   <h3>Puesto</h3>
	   <div class="form-group row">
       		<!-- el for="" reemplazar por el atributo correspondiente a pueso  -->
           <label for="  " class="col-sm-2 col-form-label">Puesto</label>
         <div class="col-sm-8">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       
       <div class="form-group row">
       		<!-- el for="" reemplazar por el atributo correspondiente a localidad  -->
           <label for="  " class="col-sm-2 col-form-label">Localidad</label>
         <div class="col-sm-8">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
      </div>
       
      <div class="contenedorTRIP">
	   <h3>Datos de tripulantes</h3>
	  <div class="col-sm-12">
	   <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a nombre  -->
           <label for="  " class="col-sm-2 col-form-label">Nombre</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a apellido  -->
           <label for="  " class="col-sm-2 col-form-label">Apellido</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a documento  -->
           <label for="  " class="col-sm-2 col-form-label">Documento</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="number" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a Nacionalidad  -->
           <label for="  " class="col-sm-2 col-form-label">Nacionalidad</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
      </div>
     </div>
       
     <div class="contenedorVEHI">
       <h3>Datos del Vehiculo</h3>
      <div class="col-sm-12">
	   <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a patente  -->
           <label for="  " class="col-sm-2 col-form-label">Patente</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="number" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a color  -->
           <label for="  " class="col-sm-2 col-form-label">Color</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a titular  -->
           <label for="  " class="col-sm-2 col-form-label">Titular</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a marca  -->
           <label for="  " class="col-sm-2 col-form-label">Marca</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
      </div>
      
      <div class="col-sm-12">
	   <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a modelo  -->
           <label for="  " class="col-sm-2 col-form-label">Modelo</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a tipo  -->
           <label for="  " class="col-sm-2 col-form-label">Tipo</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="text" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a Numero de Chasis  -->
           <label for="  " class="col-sm-10 col-form-label">Numero de Chasis</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="number" class="form-control" id="   ">
         </div>
       </div>
       </div>
       
       <div class="contenedor1">
       <div class="form-group column">
       		<!-- el for="" reemplazar por el atributo correspondiente a Numero de motor  -->
           <label for="  " class="col-sm-10 col-form-label">Numero de motor</label>
         <div class="col-sm-12">
         	<!-- Lo mismo para id -->
           <input type="number" class="form-control" id="   ">
         </div>
       </div>
       </div>
      </div>
     </div>
      
       <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
       </div>
      
  
   </form>
     <!-- imprimir los datos  -->
     <div class="datos">
     	<h2>Datos Registrados</h2>
     	<h5 th:text=" 'Fecha:'          "></h5>
    	<h5 th:text=" 'Nombre del titular:'  "></h5>
    	<h5 th:text=" 'Patente de Vehiculo:'   "></h5>
    	
    </div>
  </div>
  
  <footer>
  		<h4>GOBIERNO DE JUJUY</h4>
  </footer>
    

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>